
html, body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
  aside {
    min-width: 75px;
    background-color: #31373c;
    ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      li {
        display: flex;
        justify-content: center;
        font-size: 20px;
        line-height: 75px;
        background-color: #0092d0;
        cursor: pointer;
        a {
          text-decoration: none;
          color: #f1f1f1;
          img {
            width: 25px;
          }
        }
        &:hover {
          background-color: #00b3ff;
          a {
            color: #fff;
          }
        }
        // only if we stay with this design
        &:last-child {
          margin-top: auto;
        }
      }
      .active {
        background-color: #00b3ff;
        a {
          color: #fff;
        }
      }
    }
  }
  main {
    width: 100%;
    display: flex;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#788b96+0,3f494f+100 */
    background: rgb(120,139,150); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(120,139,150,1) 0%, rgba(63,73,79,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(120,139,150,1) 0%,rgba(63,73,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(120,139,150,1) 0%,rgba(63,73,79,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#788b96', endColorstr='#3f494f',GradientType=0 ); /* IE6-9 */

    .drawing-area {
      margin: auto;
      background-color: #fff;
    }
  }
}