<!--The content below is only a placeholder and can be replaced.-->
<!-- <canvas width="500px" height="500px" id="drawingArea" (mousedown)="onMouseDown($event)" (dragover)="onMouseDrag($event)" (onmouseup)="onMouseUp($event)"> -->
<div class="container">
  <aside>
    <app-main-tools-sidebar [isSelected]="imageSelected" (clearEvent)="selectedFunction($event)"></app-main-tools-sidebar>
  </aside>
  <main id="canvas-container">
    <app-drawing-area [isSelected]="imageSelected" (selectEvent)="selectedFunction($event)" class="drawing-area"></app-drawing-area>
  </main>
</div>

