<ul>
  <li (click)="selectTool('move')">
    <a href="#">
      <img src="../../assets/move-tool.svg" alt="Move Tool">
    </a>
  </li>
  <li (click)="selectTool('freeHand')">
    <a href="#">
      <img src="../../assets/free-hand.svg" alt="Free Hand Tool">
    </a>
  </li>
  <li (click)="selectTool('circle')">
    <a href="#">
      <img src="../../assets/circle-tool.svg" alt="Circle Tool">
    </a>
  </li>
  <li (click)="selectTool('rectangle')">
    <a href="#">
      <img src="../../assets/rectangle-tool.svg" alt="Rectangle Tool">
    </a>
  </li>
  <li (click)="selectTool('bezier')">
    <a href="#">
      <img src="../../assets/bezier-tool.svg" alt="Bezier Tool">
    </a>
  </li>
  <li (click)="clearScene()">
    <a href="#">
      <img src="../../assets/clear-scene.svg" alt="Clear Scene">
    </a>
  </li>
</ul>